.teethSetBottomImage {
    z-index: -1;
    left: 0px;
    top: 270px;
    position: absolute;
    background-color:#37475A;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background:none;
      color: #000000;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-size:13px ;
      border-radius: 10px;
  }

 


  .tooth17 {
    margin-top:289px ; /*-10*/
    margin-left:205px;
  }

  .tooth32 {
    margin-top:289px ; /*-10*/
    margin-left:30px;
  }

  .tooth18 {
    margin-top:323px ; /*-10*/
    margin-left:199px;
  }

  .tooth31 {
    margin-top:323px ; /*-10*/
    margin-left:30px;
  }

  .tooth19 {
    margin-top:359px ; /*-10*/
    margin-left:193px;
  }

  .tooth30 {
    margin-top:359px ; /*-10*/
    margin-left:35px;
  }

  .tooth20 {
    margin-top:390px ; /*-10*/
    margin-left:185px;
  }

  .tooth29 {
    margin-top:390px ; /*-10*/
    margin-left:45px;
  }

  .tooth21 {
    margin-top:415px ; /*-10*/
    margin-left:180px;
  }

  .tooth28 {
    margin-top:415px ; /*-10*/
    margin-left:53px;
  }
  .tooth22 {
    margin-top:435px ; /*-10*/
    margin-left:169px;
  }
  .tooth27 {
    margin-top:435px ; /*-10*/
    margin-left:63px;
  }
  .tooth23 {
    margin-top:440px ; /*-10*/
    margin-left:149px;
  }
  .tooth26 {
    margin-top:439px ; /*-10*/
    margin-left:83px;
  }
  .tooth24 {
    margin-top:442px ; /*-10*/
    margin-left:129px;
  }
  .tooth25 {
    margin-top:442px ; /*-10*/
    margin-left:105px;
  }